# Copyright (c) 2022 CloudZero - ALL RIGHTS RESERVED - PROPRIETARY AND CONFIDENTIAL
# Unauthorized copying of this file and/or project, via any medium is strictly prohibited.
# Direct all questions to legal@cloudzero.com

coverage
flake8
flake8-copyright
freezegun
hypothesis
isort
mypy
pytest
pytest-cov
pytest-mock
types-python-dateutil
toolz
